<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/nav.ejs') %>
    <div class="container mt-5">
        <h1>Perguntas</h1>
        <hr>
        <a href="/ask" class="btn btn-dark">Criar pergunta</a>
        <% ask.forEach(e => {%>
            <div class="card mt-5">
                <div class="card-body">
                    <h3><%= e.title %></h3>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-dark">Responder</button>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>